.idea/
.DS_Store

###> importer ###
/importer/target/
###< importer ###

###> server ###
/server/.env.local
/server/.env.local.php
/server/.env.*.local
/server/config/secrets/prod/prod.decrypt.private.php
/server/public/bundles/
/server/var/
/server/vendor/
###< server ###
