.idea/
.DS_Store

/scripts/mysqldumps/*.sql

###> symfony/framework-bundle ###
/server/.env.local
/server/.env.local.php
/server/.env.*.local
/server/config/secrets/prod/prod.decrypt.private.php
/server/public/bundles/
/server/var/
/server/vendor/
###< symfony/framework-bundle ###

###> symfony/framework-bundle ###
/importer/.env.local
/importer/.env.local.php
/importer/.env.*.local
/importer/config/secrets/prod/prod.decrypt.private.php
/importer/public/bundles/
/importer/var/
/importer/vendor/
###< symfony/framework-bundle ###