{% extends 'base.html.twig' %}

{% set pageTitle = 'Diffs' %}

{% block body %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Added</h6>
                </div>
                <div class="card-body">
                    {% for unit in diff.added %}
                        <a href="{{ path('app_detail', {ymd: addedYmd, city: city, mastr: unit }) }}">{{ unit }}</a><br>
                    {% endfor %}
                    <strong>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Removed</h6>
                </div>
                <div class="card-body">
                    {% for unit in diff.removed %}
                        <a href="{{ path('app_detail', {ymd: removedYmd, city: city, mastr: unit }) }}">{{ unit }}</a><br>
                    {% endfor %}
                    <strong>
                </div>
            </div>
        </div>
    </div>
{% endblock %}